.pointsDisplay{
	position: absolute;
	z-index: 1000;
	color: #000;
	font-size: 30px;
	padding: 35px 70px;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	transform: scale(0);
	background: url('../assets/points-background1.png') no-repeat top left;
    background-size: cover;	
}
#full-screen-win{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -50;
}
.bubbles-intro-zoom{
	position: absolute;
    top: 27vh;
    z-index: 1;
    width: 24vw;
    left: 20vw;
	display: none;
	visibility: hidden;
	animation: bubbles-into-anim 0.7s ease-in;
	animation-delay: 1.1s;
}
.bubbles-intro-pan{
	position: absolute;
    top: 38vh;
    z-index: 1;
    width: 13vw;
    left: 44vw;
	display: none;
	visibility: hidden;
	animation: bubbles-into-anim 0.8s ease-in;
	animation-delay: 1.5s;
}
.bubbles-intro-click2{
	position: absolute;
    top: 60vh;
    z-index: 1;
    width: 32vw;
	left: 50vw;
	transform: rotate(-14deg);
	display: none;
	visibility: hidden;
	animation: bubbles-into-animClick 0.8s ease-in;
	animation-delay: 2s;
}

@keyframes pointsAnim{
	0%{
        display: block;
		transform: scale(0);
	}
	100%{
		transform: scale(2);
    }
}

@keyframes bubbles-into-anim{
	0%{
		visibility: visible;
		transform: scale(0);
	}
	70%{
		transform: scale(1);
	}
	99%{
		transform: scale(1);
	}
	100%{
		display: none;
	}
}
@keyframes bubbles-into-animClick{
	0%{
		visibility: visible;
		transform: scale(0) rotate(-14deg);
	}
	70%{
		transform: scale(1) rotate(-14deg);
	}
	99%{
		transform: scale(1) rotate(-14deg);
	}
	100%{
		display: none;
	}
}

@media only screen
  	and (min-width: 320px)
  	and (max-width: 736px)
  	and (-webkit-min-device-pixel-ratio: 2)
  	and (orientation: portrait) {
		.bubbles-intro-zoom{
			top: 28vh;
			width: 63vw;
			left: 1vw;
		}
		.bubbles-intro-pan{
			top: 50vh;
			width: 40vw;
			left: 40vw;
		}
		.bubbles-intro-click2{	
			top: 74vh;
			width: 70vw;
			left: 9vw;
		}
	  }

